
.container{

    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 150px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 550px;
  }

  .typewrite {
      left: 250%;
  }
 .section{
     text-align:center;
     width: 30em;
     border: 30px;

     position: absolute;
     top: 70%;
     left: 50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
 }

 .btn-large{
     margin: 0.5cm;
 }

 .new-title-btn{
     text-align: center;
     color: white;
     padding: 10px;
     background-color: #009C9D;
     border-radius: 12px;
     display: inline-block;
     font-size: 15px;
     margin: 4px 2px;
     cursor: pointer;

     margin: 0;
  position: absolute;
  top: 55%;
  right: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }

 #button:hover{
     background-color: #007F80;
 }

 #button:active {
    background-color: #007F80;
    transform: translateY(4px);
  }

  .content {
     color-adjust: #718096;
      text-align: center;
      text-size-adjust: 13px;
      position: relative;
      right: 170px;
  }

.titles {
    font-size: 1.5em;
    color-adjust: teal;
}

.info{
    color-adjust: grey;
    opacity: 0.5;
}